build/
dist/
*.egg-info/
.installed.cfg
*.egg
workflow/.ipynb_checkpoints/
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Created (test) output files
scripts/Encoding_low_N/apc.png
scripts/Encoding_low_N/low_N_avGFP_extrapolation.png
