build/
dist/
*.egg-info/
.installed.cfg
*.egg
workflow/.ipynb_checkpoints/
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Created (test) output files
scripts/Encoding_low_N/apc.png
scripts/Encoding_low_N/low_N_avGFP_extrapolation.png
datasets/ANEH/LS.fasl
datasets/ANEH/TS.fasl
datasets/ANEH/37_ANEH_variants_aaidx_encoded.csv
datasets/ANEH/37_ANEH_variants_dca_encoded.csv
datasets/ANEH/37_ANEH_variants_onehot_encoded.csv
datasets/ANEH/37_ANEH_variants_prediction_set.fasta
datasets/ANEH/apc.png
datasets/ANEH/CHAM830105_PLS_ML_Model_Performance.png
datasets/ANEH/coevolution_apc_sorted.csv
datasets/ANEH/CV_performance/CHAM830105_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830105_PLS_CV_Results.txt
datasets/ANEH/CV_performance/DCA_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/DCA_PLS_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880104_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880104_PLS_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880110_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880110_PLS_CV_Results.txt
datasets/ANEH/CV_performance/FUKS010102_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/FUKS010102_PLS_CV_Results.txt
datasets/ANEH/CV_performance/KARS160111_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160111_PLS_CV_Results.txt
datasets/ANEH/CV_performance/MITS020101_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/MITS020101_PLS_CV_Results.txt
datasets/ANEH/CV_performance/ONEHOT_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/ONEHOT_PLS_CV_Results.txt
datasets/ANEH/CV_performance/RACS820109_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/RACS820109_PLS_CV_Results.txt
datasets/ANEH/CV_performance/SUEM840102_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/SUEM840102_PLS_CV_Results.txt
datasets/ANEH/CV_performance/VELV850101_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/VELV850101_PLS_CV_Results.txt
datasets/ANEH/CV_performance/WEBA780101_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/WEBA780101_PLS_CV_Results.txt
datasets/ANEH/DCA_ML_Model_Performance.png
datasets/ANEH/DCA_PLS_ML_Model_Performance.png
datasets/ANEH/Diverse_Double_Split/Diverse_Double_Split1.fasta
datasets/ANEH/Diverse_Double_Split/Predictions_FAUJ880104_TopDiverse_Double_Split.txt
datasets/ANEH/Diverse_Double_Split/Predictions_ONEHOT_TopDiverse_Double_Split.txt
datasets/ANEH/EvoTraj/Trajectories.csv
datasets/ANEH/FAUJ880104_DE_trajectories.png
datasets/ANEH/FAUJ880104_ML_Model_Performance.png
datasets/ANEH/FAUJ880104_PLS_ML_Model_Performance.png
datasets/ANEH/FAUJ880110_PLS_ML_Model_Performance.png
datasets/ANEH/FUKS010102_PLS_ML_Model_Performance.png
datasets/ANEH/KARS160111_PLS_ML_Model_Performance.png
datasets/ANEH/low_N_37_ANEH_variants_aaidx_encoded_ml_pls.png
datasets/ANEH/low_N_37_ANEH_variants_dca_encoded_ml_pls.png
datasets/ANEH/low_N_37_ANEH_variants_onehot_encoded_ml_pls.png
datasets/ANEH/MITS020101_PLS_ML_Model_Performance.png
datasets/ANEH/ml_pls_37_ANEH_variants_aaidx_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_aaidx_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_dca_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_dca_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_onehot_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_onehot_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/MLplmc_DE_trajectories.png
datasets/ANEH/Model_Results.txt
datasets/ANEH/ONEHOT_DE_trajectories.png
datasets/ANEH/ONEHOT_ML_Model_Performance.png
datasets/ANEH/ONEHOT_PLS_ML_Model_Performance.png
datasets/ANEH/Pickles/CHAM830105
datasets/ANEH/Pickles/FAUJ880104
datasets/ANEH/Pickles/FAUJ880110
datasets/ANEH/Pickles/FUKS010102
datasets/ANEH/Pickles/GREMLIN
datasets/ANEH/Pickles/KARS160111
datasets/ANEH/Pickles/MITS020101
datasets/ANEH/Pickles/ML_LVL_1
datasets/ANEH/Pickles/MLgremlin
datasets/ANEH/Pickles/MLplmc
datasets/ANEH/Pickles/ONEHOT
datasets/ANEH/Pickles/RACS820109
datasets/ANEH/Pickles/SUEM840102
datasets/ANEH/Pickles/VELV850101
datasets/ANEH/Pickles/WEBA780101
datasets/ANEH/Predictions_FAUJ880104_37_ANEH_variants_prediction_set.txt
datasets/ANEH/Predictions_MLgremlin_37_ANEH_variants_prediction_set.txt
datasets/ANEH/Predictions_MLplmc_37_ANEH_variants_prediction_set.txt
datasets/ANEH/Predictions_ONEHOT_37_ANEH_variants_prediction_set.txt
datasets/ANEH/RACS820109_PLS_ML_Model_Performance.png
datasets/ANEH/raw.png
datasets/ANEH/Recomb_Double_Split/Predictions_FAUJ880104_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Predictions_MLgremlin_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Predictions_MLplmc_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Predictions_ONEHOT_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Recomb_Double_Split0.fasta
datasets/ANEH/Recomb_Quadruple_Split/Recomb_Quadruple_Split0.fasta
datasets/ANEH/Recomb_Quintuple_Split/Recomb_Quintuple_Split0.fasta
datasets/ANEH/Recomb_Triple_Split/Predictions_FAUJ880104_TopRecomb_Triple_Split.txt
datasets/ANEH/Recomb_Triple_Split/Predictions_ONEHOT_TopRecomb_Triple_Split.txt
datasets/ANEH/Recomb_Triple_Split/Recomb_Triple_Split0.fasta
datasets/ANEH/SUEM840102_PLS_ML_Model_Performance.png
datasets/ANEH/VELV850101_PLS_ML_Model_Performance.png
datasets/ANEH/WEBA780101_DE_trajectories.png
datasets/ANEH/WEBA780101_PLS_ML_Model_Performance.png
datasets/ANEH/zscore.png
datasets/AVGFP/apc.png
datasets/AVGFP/avGFP.csv
datasets/AVGFP/coevolution_apc_sorted.csv
datasets/AVGFP/Pickles/GREMLIN
datasets/AVGFP/raw.png
datasets/AVGFP/zscore.png
datasets/AVGFP/avGFP_dca_encoded.csv
datasets/AVGFP/avGFP_aaidx_encoded.csv
datasets/AVGFP/avGFP_onehot_encoded.csv
datasets/AVGFP/low_N_avGFP_dca_encoded_hybrid_ridge.png
datasets/AVGFP/low_N_avGFP_dca_encoded_ml_pls.png
scripts/Encoding_low_N/AVGFP/avGFP.csv
scripts/Encoding_low_N/AVGFP/uref100_avgfp_jhmmer_119.a2m
datasets/AVGFP/hybrid_ridge_avGFP_dca_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/low_N_avGFP_aaidx_encoded_ml_pls.png
datasets/AVGFP/low_N_avGFP_onehot_encoded_ml_pls.png
datasets/AVGFP/ml_pls_avGFP_aaidx_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/ml_pls_avGFP_dca_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/ml_pls_avGFP_onehot_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/Pickles/HYBRID_LVL_1
datasets/AVGFP/Pickles/ML_LVL_1
datasets/AVGFP/hybrid_ridge_avGFP_dca_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/ml_pls_avGFP_dca_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/ml_pls_avGFP_aaidx_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/ml_pls_avGFP_onehot_encoded_train_concat_lvls_extrapolation.png
scripts/Encoding_low_N/AVGFP/low_N_avGFP_extrapolation.png
